.formchallenge {
  display: inline;
  justify-content: center;
  text-align: center;
  
          }
#heading {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
p {
  font-size: small;
} 
input {
  align-content: flex-end;
  text-align-last: right;
}
