.formchallenge {
  width: 100%;
  justify-content: center;
  text-align: center;
  
          }
#heading {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
p {
  font-size: small;
} 

